.cabinet-line
  .cabinet-num 01
  .cabinet-fill
    h3 
      em Наименование вашего салона
      span *
    .cabinet-filed
      form.form
        input(type="text" placeholder="| Введите наименование вашего салона или сети салонов ")
.cabinet-line
  .cabinet-num 02
  .cabinet-fill
    h3 
      em Фото вашей компании для профиля
      span *
    .cabinet-filed
      form.form 
      input.input-file(type="file" data-text="Фото салона")
.cabinet-line
  .cabinet-num 03
  .cabinet-fill
    h3 
      em Краткое описание деятельности
      span *
    .cabinet-filed
      form.form
        textarea(placeholder="| Введите наименование вашего салона или сети салонов ")