.filter-head {
  border-top: 1px solid $grayColor;
  padding: 30px 0;

  b {
    color: $blackColor;
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    margin: 0 15px;

    &:hover,
    &.active {
      color: $blackColor;
      text-decoration: underline;
    }
  }

  .filter-half {
    grid-column: span 5;
  }

  .filter-half-second {
    text-align: right;

    a:last-child {
      margin-right: 0;
    }
  }
}