include ../content-parts/content-tempate.pug
include ../all-template/main-page/banner-cabinet.pug
include ../all-template/salon/salon-item-template.pug
include ../all-template/goods/goods-item-template.pug
include ../all-template/stock/stock-item-template.pug
include ../all-template/comment/comment-item.pug