.contacts-address
  .contacts-address-line(
    id="address-0"
    data-coord-x="55.6"
    data-coord-y="37.6" 
    data-index="0"	
  )
    .address
      .metro Магазин
      .text-address м. Китай-город, Лубянский пр., 15, стр. 4
    .phone-feedback
      div +7 (499) 938-83-51
.map-container 
  #map
script(src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=AAyE0FsBAAAApZ_zfwIA_dXSEkWE4_EY3eJc0MxKY2DPitcAAAAAAAAAAADTxJqFLJMxqfrjbNVz6ghuLNJ4tw" type="text/javascript")
script(src="../js/ya-map.js")