// pagination-component start
.pagination-page
  a(href="#").prev-page
  a(href="#") 1 
  a(href="#") 2 
  a(href="#") 3 
  a(href="#").dotted ...
  a(href="#") 20
  a(href="#").next-page
// pagination-component start