.slider-owl.owl-carousel.full-screen
  .item.vertical-align
    .img-cover
      img(src="../images/1.jpg", alt="")
    .item-content
      h2 Слайд 1
      div text text text text text text text text text text text 

  .item.vertical-align
    .img-cover
      img(src="../images/2.jpg", alt="")
    .item-content
      h2 Слайд 1
      div text text text text text text text text text text text 
  .item.vertical-align
    .img-cover
      img(src="../images/3.jpg", alt="")
    .item-content
      h2 Слайд 1
      div text text text text text text text text text text text 
  .item.vertical-align
    .img-cover
      img(src="../images/4.jpg", alt="")
    .item-content
      h2 Слайд 1
      div text text text text text text text text text text text 