.goods-tab-container
  .goods-tab-header 
    .goods-tab-link.active Описание
    .goods-tab-link Отзывы
  .goods-tab-body
    .goods-tab-item
      .goods-tab-description
        p HYALREPAIR®- 05 Биорепарант Форте – инъекционный препарат (изделие медицинского назначения) пролонгированного действия, направлен на борьбу с фотостарением и восстановление организма. Запускает собственные процессы омоложения и восстановления кожи, устраняет все признаки старения и обеспечивает профилактику их появления.
        p Благодаря уникальной технологии HYALREPAIR® technology активные вещества, входящие в его состав (гиалуроновая кислота, модифицированная твердофазным методом витамином С и фолиевой кислотой), удерживаются в коже в течение длительного времени, что обеспечивает пролонгированную стимуляцию клеточной активности и эффективно устраняет признаки гиперпигментации, повышает тонус и тургор кожи, а также позволяет успешно использовать данные препараты не только в классических инъекционных процедурах омоложения кожи, но и в программах системной биорепарации организма: очищение организма от токсинов и продуктов обмена веществ, восстановление работы пищеварительной системы, укрепление иммунитета, нормализация сна, при интоксикации(пищевой, лекарственной, алкогольной), аллергических заболеваниях; для повышения работоспособности и качества жизни.
        p Объём флакона 5 мл позволяет работать с большими площадями (лицо-шея-декольте, передняя брюшная стенка, плечи, ягодицы) с возможностью использования всех инъекционных техник, в том числе, введение в проекцию биологически активных точек.
    .goods-tab-item 
      include ../../content-parts/comment-detail-list.pug