.goods-detail-main
  .goods-detail-img
      img(src="../images/temp/goods.png", alt="")
  .goods-stock-container
    .goods-detail-price 1880.00 р.
    .goods-quantity
      span Много
    .goods-delivery
      a(href="#") Рассчитать доставку 
    .goods-cheaper
      a(href="#") Нашли дешевле 
  .goods-detail-info
    .info-line
      b(href="") Производитель:
      a(href="#") Martinex 
    .info-line
      b Тип товара:
      span Биорепаранты
    .info-line
      b Объём:
      span 5 ml
    .info-line
      b Бренд:
      span Martinex
    .goods-list-check.btn Узнать цену
    .goods-buy
      .goods-controls.flex-align
        .goods-plus
        .goods-current 5
        .goods-minus
      a.btn(href="#") Купить