$blackColor: #303030;

$grayColor: #686868;

$whiteColor: #ffffff;

$redColor: #f25368;

$orangeColor: #E88328;

$greenColor: #76c100;

$blueColor: #5b89b1;

$yellowColor: #D4AF93;

$violetColor: #3B1C47;

$grayColorSecond: #EEEEEE;