$smallSize: 13px;

$standartSize: 15px;
$mediaStandartSizePlus:(1920: $standartSize, 1440: 16px);

$standartSizePlus: 17px;
$standartSizePlusPlus: 20px;

$mediumSize: 23px;
$mediaMediumSize:(1920: $mediumSize, 1440: 21px, 414: 18px);

$largeSize: 42px;
$mediaLargeSize:(1920: $largeSize, 1680: 32px, 1440: 21px);

$hugesize: 64px;
$mediaHugesize:(1920: $hugesize, 1680: 42px, 414: 24px);





/*-----414-----*/