.content-grid.main-grid
  +content-roof-area("Главная/ Личный Кабинет")
  .content-main-area
    +content-head("Кабинет", "cabinet")
    .cabinet-body
      include salon/page-1.pug
  +sidebar-cabinet(navCabinet)
