section.cabinet-thumbnails.main-grid
	- for (var x = 0; x < 3; x++)
		.cabinet-thumbnails-item
			h3 Регистрация салона или клиники
				i
			.cabinet-thumbnails-text Личный кабинет на портале как возможность найти новых клиентов, заявить о качестве оказываемых услуг и работах мастеров, следить за миром бьюти изнутри и быть частью комьюнити.
			.cabinet-thumbnails-img
				img(src="../images/temp/1.jpg", alt="")