section.cosmetologist-main 
  h2 Салоны
  .cosmetologist-container.main-grid 
    .cosmetologist-item.list-item
      h3 Иванов Александр  Николаевич 
      .item-grade
        b 0 отзывов
        .stars-container 
          - for (var x = 0; x < 5; x++)
            i
      .cosmetologist-item-description 
        |лечение дефектов кожи и косметических дефектов (веснушек, пигментных пятен)
      .cosmetologist-list-img
        img(src="../images/temp/cosm-1.jpeg", alt="")
        .list-offer
          em
          span Новинка
