section.poster-main
	.poster-container.poster-owl.owl-carousel
		- for (var x = 0; x < 3; x++)
			.poster-item
				.poster-img.img-cover
					img(src="../images/temp/1.jpg", alt="")
				.main-grid
					.poster-item-body
						.poster-info
							h2 Мы объединяем специалистов, дистрибьютеров и клиентов бьюти-индустрии                            
							.info-text Компания Martinex – крупнейший российский холдинг, работающий в области терапевтической косметологии, эстетической и клинической медицины с филиалами во многих странах мира.                            
							.btn-group
								a.btn(href="#") Узнать больше