section.stock-main 
  h2 Акции
  .stock-container.main-grid 
    .stock-item.list-item
      h3 Салон красоты "Egoist&Ka"
      .item-grade
        b 0 отзывов
        .stars-container 
          - for (var x = 0; x < 5; x++)
            i
      a.stock-topic(href="#") 20 % Скидка на первое посещение
      .stock-left
        span До окончания осталось:
        b 9 дней , до 30 сентябрь 2021
      .stock-address Островитянова,19/22
      .stock-list-img
        img(src="../images/temp/goods.png", alt="")
        .list-offer
          em
          span Новинка
