doctype html
html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		.stub
		// header

		// login-page start
		include authorization-page/forgot-pas.pug
		// login-page end

		// footer

		// footer