doctype html
html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		.stub
		// header

		// registration-page start

		include authorization-page/registraion.pug

		// registration-page end

		// footer

		// footer 