doctype html
html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		.stub
		// header 

		// worker-detail-page start
		include authorization-page/login.pug
