doctype html
html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		.stub
		// header

		// cabinet-page start

		include cabinet-page/salon/content.pug
		include cabinet-page/cabinet.pug
		
		// cabinet-page end

		// footer

		// footer