html
	body
		.index
		// head
		include default/head.pug 
		// head

		// header 
		include default/header.pug
		.stub
		// header

		// stock-list start

		include stock/stock-list.pug
		// stock-list end

		// footer

		// footer   