.comment-detail-list
  +section-head("Отзывы салона","Все отзывы")
  +comment-detail-item("30.09.2021","Евгения","5", "Потрясающий салон!!! Стильное место в самом центре Москвы. Сделала маникюр и уход для волос за 2 часа. Вышла довольная","../images/icons/avatar.svg")
  +comment-detail-item("30.09.2021","Евгения","5", "Потрясающий салон!!! Стильное место в самом центре Москвы. Сделала маникюр и уход для волос за 2 часа. Вышла довольная","../images/icons/avatar.svg")
  +comment-detail-item("30.09.2021","Евгения","5", "Потрясающий салон!!! Стильное место в самом центре Москвы. Сделала маникюр и уход для волос за 2 часа. Вышла довольная","../images/icons/avatar.svg")
  +comment-detail-item("30.09.2021","Евгения","5", "Потрясающий салон!!! Стильное место в самом центре Москвы. Сделала маникюр и уход для волос за 2 часа. Вышла довольная","../images/icons/avatar.svg")