.filter-head.content-grid
  .filter-half
    b Сортировать по:
    a(href="#") популярности
    a(href="#") обновлениям
    a(href="#") акциям
  .filter-half.filter-half-second
    b Показать:
    a(href="#") все 
    a(href="#") высший рейтинг