.salon-slider
  h2 Видео и фото нашего салона
  .salon-slider-container
    .salon-slider-content
      .salon-slider-item
        img(src="../images/temp/1.jpg", alt="")
      .salon-slider-dots
        span
        span
        span
    .salon-slider-thumbnails
      .slider-thumbnails.img-cover
        img(src="../images/temp/1.jpg", alt="")
      .salon-slider-count
        |+25