.main-grid
	+content-roof-area("Главная/ Салоны")
	.content-main-area
		+content-head("Cалоны", "salon")
		+category-search("| Введите наименование станции метро или района",1,"Перово","Рязанка","Выхино","Текстильщики","Кусково","Поля")
		include ../content-parts/filters-head.pug
		.content-body.content-grid
			- for (var x = 0; x < 5; x++)
				+salon-item("../images/temp/salon-1.jpg","Салон красоты 'Egoist&Ka'","«Блайс» — ультрамодный салон красоты премиум-класса","Островитянова,19/22")
		
		include ../content-parts/pagination.pug
	include ../content-parts/sidebar.pug