@font-face {
	font-family: "regular";
	src: url("../fonts/PFBeauSansPro-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bold";
	src: url("../fonts/PFBeauSansPro-Bold.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "semibold";
	src: url("../fonts/PFBeauSansPro-SemiBold.otf");
	font-weight: normal;
	font-style: normal;
}